body {
  background-color: white;
  color:#404040;
}

.container {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

p {
  font-size: .85em !important;
}

a:hover {
  text-decoration: none;
}

.centertext {
  text-align: center;
}

.pushdown {
  margin-top: 200px;
}

.pushdown-sm{
  margin-top: 30px;
  margin-bottom: 30px;
}

.smallwords {
  font-size: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

select {
  border: 0px;
  outline: 0px;
}

.nohover button:hover {
  background-color: white;
}

.page-container {
  padding: 35px 15% 0 15%;
}

.page-line-bar {
  border-bottom: 3px solid #1689E5;
  margin-bottom: 10px;
  background: rgba(76, 175, 80, 0);
}


/*
* === NAVBAR STYLING ===
*/
.align-right {
  right: 0px;
}

.navbar {
  background-color: #1689E5;
  padding: 10px 15% 10px 15%;
}

.textright {
  text-align: right;
  margin-right: 0px;
}

.nav-link {
  color: white !important;
}

.heading a {
  padding-left: 0px !important;
  font-family: 'Exo 2', sans-serif;
  font-size: 0.75em;
  color: white;
}

.heading a:hover {
  text-decoration: none;
}

.stock-header {
  font-size: 30px;
  display: inline;
  /*font-weight: bold;*/
}


/*
* === FILTER PAGE STYLING ===
*/
.filter-button {
  border: 0px;
  outline: 0px;
  background: rgba(76, 175, 80, 0)
}

.filter-drop {
  background: rgba(76, 175, 80, 0);
}

/*
* === LANDING PAGE STYLING ===
*/
.landing-top {
  padding-top: 7%;
  display: table;
  width: 75%;
  height: 75%;
  margin: auto;
}

.landing-background {
  background-image: url('/images/landingpage.jpg');
}

.landing-title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.landing-header {
  font-size: 6.5em;
  font-family: 'Exo 2', sans-serif;
  color: white;
}

.landing-tagline {
  color: white;
}

.landing-search {
  margin-top: 5%;
  margin-bottom: 8%;
}

.landing-bottom {
  margin-top: 5%;
  width: 75%;
  margin-left: auto;  
  margin-right: auto; 
}

.intrinio-logo {
  text-align: right;
}

/*
* === CARDS STYLING ===
*/
.card {
  background-color: #F7F7F2;
  border-radius: 0px;
  padding: 10px;
}

.red {
  color: #D81B60;
}

.green {
  color: #00C853;
}

.clickable-card:hover {
  background-color: #B9D6F2;
}

.centerheading {
  text-align: center;
  font-weight: bold;
  color: #1689E5;
  margin-top: 10px;
}

.centerheading a {
  text-align: center;
  font-weight: bold;
  color: #1689E5;
  margin-top: 10px;
}

/*
* === ABOUT PAGE STYLING ===
*/
.photo {
  border-radius: 100%;
  width: 200px;
  height:200px;
  border: 3px solid #1689E5;
  margin-bottom: 25px;
}

.boldtext {
  font-weight: bold;
}

.tech-image {
  padding: 15px 20px 0 0;
  text-align: center;
  width: 185px;
}

.d3-image {
  padding: 15px 30px 0 0;
}

/*
* === SEARCH BAR PLACEHOLDER TEXT STYLING ===
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9f9f9f !important;
  opacity: 1 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9f9f9f !important;
  opacity: 1 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9f9f9f !important;
  opacity: 1 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9f9f9f !important;
  opacity: 1 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

/*
* === RESPONSIVE TEXT STYLING ===
*/
@media only screen and (max-width: 320px) {

  .container { 
    font-size: 0.5em; 
  }

  .landing-header {
    font-size: 2em;
  }
}

@media only screen and (max-width: 375px) {

  .landing-header { 
    font-size: 2.5em; 
  }

}